@import "tailwindcss";

:root {
  --background: #0a0a0a;   /* langsung dark */
  --foreground: #ededed;   /* langsung light text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* HAPUS prefers-color-scheme agar tidak override OS */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
